#diag-anchor-trade .diag-anchor-trade-index .layui-tab-title {height: 40px !important;background-color: #fbfbfb !important;}

#diag-anchor-trade .diag-anchor-trade-index .layui-tab-title li {height: 40px !important;line-height: 40px;}

#diag-anchor-trade .diag-anchor-trade-index .layui-tab-title li.layui-this {background-color: #d2d2d2;}

.handicap-edit {width: 50px;border: 1px solid transparent;text-align: center;height: 32px;line-height: 32px;background-color: transparent;}

.diag-anchor-tab-desc {font-size: 10px;margin-top: -26px;}

.diag-anchor-trade-result {cursor: pointer;}

.diag-anchor-trade-tab {font-size: 12px;background-color: #FF5722;float: left;height: 40px;line-height: 40px;width: 15px;text-align: center;}

.diag-anchor-trade-hide {display: none;}
.anchor .layui-tab-content {height: 780px;overflow-x: scroll;}

.layui-layer-admin.diag.anchor .anchor-trade > .trade-order {
    right: 18px;
    top: 152px;
}
.anchor-trade { position: relative; }
#anchor-info-tab .nav{background-color:#7D26CD !important;}
.anchor .layui-layer-title{background-color:#7D26CD !important;}
.anchor .layui-btn-anchor{background-color: #7D26CD  !important;}
.anchor-skin a{color:#7D26CD;text-decoration:underline ;}
.anchor-skin a:hover{color:#fff;background-color:#7D26CD;border-radius: 2px 2px 2px 2px; }
/* 订单列表 */
.anchor-trade .trade-order .layui-card-header { padding: 0px 5px; line-height: normal;  box-shadow: 0px 0px 10px rgba(0,0,0,.3) }
.anchor-trade .trade-order .layui-card-header input.on { background-color: #FF5722; color: #fff; font-weight: bold; }
.anchor-trade .trade-order .layui-card-header .layui-form-item { margin-bottom: 0px; }
.anchor-trade .trade-order .layui-card-header .layui-form-item .selectAll { height: 16px; float: left; width: 16px; margin-top: 7px; }
.anchor-trade .trade-order .layui-card-header .layui-form-item select { height: 22px; width: 100%; }
.anchor-trade .trade-order .accept { text-align: center; width: 100%; height: 16px; }
.anchor-trade .trade-order .layui-card-body { padding: 0px; position: absolute; left: 0px; right: 0px; top: 35px; bottom: 0px; overflow: auto; }
.anchor-trade .trade-order .layui-card-body ul:empty::after { content: "暂无订单"; display: block; height: 50px; line-height: 50px; color: #ccc; text-align: center; font-size: 18px; }
.anchor-trade .trade-order .layui-card-body li { border-bottom: 1px dashed #ccc; transition: all .5s; transform-origin: top center; }
.anchor-trade .trade-order .layui-card-body li.hide { transform: scale(1,0); opacity: 0.1; }

/* 订单列表 */
.anchor-trade > .trade-order li { position: relative; height: 85px; }
.anchor-trade > .trade-order li input,
.anchor-trade > .trade-order li [data-delay] { visibility: hidden; }
.anchor-trade > .trade-order li .checkbox,
.anchor-trade > .trade-order li .trade-content,
.anchor-trade > .trade-order li .action { height: 100%; top: 0px; bottom: 0px; position: absolute; }
.anchor-trade > .trade-order li .checkbox { width: 20px; left: 0px; border-right: 1px dashed #ccc; }
.anchor-trade > .trade-order li .checkbox input { position: absolute; top: 50%; transform: translate(-50%,-50%); left: 50%; width: 16px; height: 16px; }
.anchor-trade > .trade-order li .trade-content { left: 5px; right: 5px; }
.anchor-trade > .trade-order li .trade-content p { height: 20px; line-height: 20px; overflow: hidden; }
.anchor-trade > .trade-order li .action { width: 24px; right: 0px; border-left: 1px dashed #ccc; text-align: center; }
.anchor-trade > .trade-order li .action .layui-btn { margin: 5px 0px; }
.anchor-trade > .trade-order li .checkbox,
.anchor-trade > .trade-order li .action { display: none; }
.anchor-trade > .trade-order li  .orderid {width: 48px;max-width: 48px;overflow: hidden;text-overflow: ellipsis;display: inline-block;vertical-align: middle; }
.anchor-trade > .trade-order li  .username { width: 30px;max-width: 45px;overflow: hidden;text-overflow: ellipsis;display: inline-block;vertical-align: middle; }
.anchor-trade > .trade-order li .action { display: inherit; }
.anchor-trade > .trade-order li.Settlement.checkbox{margin-top: 5px;}
.anchor-trade > .trade-order li.Settlement [data-delay],
.anchor-trade > .trade-order li.Settlement input { visibility: visible; }
.anchor-trade > .trade-order li.Settlement [data-delay] { transform: scale(0.8); }
.anchor-trade > .trade-order li.Settlement .trade-content {  right: 24px; box-shadow: 0px 0px 5px inset rgba(0,0,0,.1); border-radius: 2px; padding:0 2px; }
.anchor-trade > .trade-order li.Settlement .layui-text-right { text-align: left; }
.anchor-trade > .trade-order li.PeSettlementnding .trade-content .orderid { display: none; }
.anchor-trade > .trade-order li.loading { background: url(/studio/images/loading.gif) no-repeat 96% center; }
.anchor-trade > .trade-order li.Settlement .status::after { content: "等待接单"; color: #FF5722; }
.anchor-trade > .trade-order li.Success .status::after { content: "成功"; color: green; }
.anchor-trade > .trade-order li.Faild .status::after { content: "已拒"; color: red; }
.anchor-trade .layui-card-footer{height: 20px;position: absolute;bottom:0;width: 300px;background-color: #dedede;border-top: 1px solid #ccc;}
.anchor-trade .layui-card-footer .order-total{padding-top: 2px;padding-left: 5px;}
.layui-text-through{text-decoration: line-through;}
 
/*公共盘口、竞猜项样式*/
.trade-order { position: fixed; right: 5px; top: 50px; bottom: 5px; border: 1px solid #ccc; background-color: #fff; box-shadow: -1px 1px 2px rgba(0,0,0,.1); width: 300px; }
.trade-order .layui-card-header { padding: 0px 5px; line-height: normal; height: 30px; box-shadow: 0px 0px 10px rgba(0,0,0,.3) }
.anchor .title-child{ font-size: 32px;}
.anchor .bet-item{min-width: 244px;}
.anchor .bet-item .item {min-width: 120px;float: left; border:1px solid #999;margin-left: 2px; }
.anchor .bet-item .item .item-row {height: 38px;}
.anchor .bet-item .item .item-row .m1{ width:14px;min-width: 14px;position: absolute; }
.anchor .bet-item .item .item-row .m2{ width: 50px;position: absolute;margin-left: 13px; }
.anchor .bet-item .item .item-row .m3{ position: absolute;margin-left: 54px;}
.anchor .bet-item .item .name { height: 38px;line-height: 38px; }
.anchor .bet-item .item .name strong { text-indent: 1em; }
.anchor .bet-item .item .name strong::before { content: "("; }
.anchor .bet-item .item .name strong::after { content: ")"; }
.anchor .bet-item .item .action { padding-top: 4px;    padding-left: 2px; }
.anchor .bet-item .item input { width: 62px; min-width: 62px; height: 38px; font-size: 18px; background-color: transparent; border: 1px solid transparent; text-align: center; }
.anchor .bet-item .item input:focus { border-color: #ccc; }
.anchor .bet-item .item input[readonly] { cursor: not-allowed; background-color: #f5f5f5; color: #999; }
.anchor .bet-item .item::after { content: " "; display: block; clear: both; }
.anchor .layui-card.layui-card-sm .layui-card-header { height: 26px; line-height: 26px; font-size: 12px; }
.anchor .child-odds{width: 52px; height: 25px;font-size: 13px;background-color: transparent;border: 1px solid transparent;text-align: center;}
.anchor .bet-item .bet-handicap{max-width: 242px; margin-left: 2px;}
.anchor .bet-item .bet-handicap input{background-color: transparent;border: 1px solid transparent;color: #fff;}
.anchor .on {color: #009688;}
.anchor .handicap-item {width: 244px;min-width: 244px;}
.anchor .handicap-item .item{margin-top: 2px;}
.anchor .bet-setting{width: 75px;border: 1px solid #999;color: #999;border-radius: 5px 5px 5px 5px;}
.anchor .bet-item .bet-handicap input{color:#5FB878;}

/*操盘样式*/
.anchor-trade .bet-status{float: left;border-bottom: 1px solid #999;border-right: 1px solid #999;border-top: 1px solid #999; height: 61px;font-size: 16px;padding-top: 7px;padding-left: 2px;padding-right: 2px;}
.anchor-trade .bet-item .bet-handicap{max-width: 265px !important;}
.anchor-trade .bet-action {height: 18px; line-height: 18px; }
.anchor-trade .bet-action[disabled] { background-color: #eee !important; text-shadow: 1px 1px 0px #fff; }
.anchor-trade .bet-action[checked] { background-color: #5FB878; color: white; border-radius: 4px; }
.anchor-trade .bet-action[checked][data-lock] { background-color: #FF5722; }
.anchor-trade .bet-action[readonly][data-lock] { color: #666; cursor: not-allowed; }

/*多主播操盘*/
.anchor-trade .anchor-item {margin-top: 10px;}
.anchor-trade .anchor-item .anchor-item-header {height: 30px;line-height: 30px;min-width: 1250px;}
.anchor-trade .anchor-item .up {display: none;}
.anchor-trade .anchor-item .down {display: block;}
.anchor-trade .anchor-item .title {padding-left: 5px;float: left;width: 150px;}
.anchor-trade .anchor-item .anchor-item-header .index {float: left;padding-left: 10px;padding-right: 10px;}
.anchor-trade .anchor-item .anchor-item-header .video {padding-left: 10px;float: left;}
.anchor-trade .anchor-item .anchor-item-header .video span {cursor: pointer;}
.anchor-trade .anchor-item .anchor-item-header .description {float: left;padding-left: 20px;}
.anchor-trade .anchor-item .anchor-item-header .index select {width: 100px;}
.anchor-trade .anchor-item .anchor-item-header .date {float: left;}
.anchor-trade .anchor-item .toolber {float: right;padding-right: 20px;}
.anchor-trade .anchor-item .item-down {float: right;cursor: pointer;padding-right: 5px;}
.anchor-trade .anchor-item .item-remove {padding-left: 5px;cursor: pointer;float: left;}
.anchor-trade .anchor-item .betlock{float: right;cursor: pointer;padding-right: 5px;}
.anchor-trade .anchor-item .betlock .on{  color: #fff;  -webkit-animation-name: imageAnim;-webkit-animation-duration: 0.5s;-webkit-animation-iteration-count: infinite;-webkit-animation-direction: alternate;-webkit-animation-timing-function: ease;-webkit-animation-play-state: running;}
@-webkit-keyframes imageAnim{0% {opacity: 1;}100% {opacity: 0;}}
.anchor-trade .statistics{width: 119px;min-width: 119px;border-top: 1px solid #999;}
.anchor-trade .statistics .m1{width:48px;min-width: 48px; float: left;}
.anchor-trade .statistics .m2{width:71px;min-width: 71px;float: right;}
.anchor-trade .table-item tr td,
.anchor-trade .table-item tr th{text-align: center;}
.anchor-trade .handicap-item input{background-color: transparent;border: 1px solid transparent;width: 62px;min-width: 62px;margin-left: 26px;}
.anchor-trade .bet-statistics span{padding-top: 4px; text-align: right;padding-left: 2px;}
.anchor-trade .bet-statistics span::before {color: #cccccc;float: left; }
.anchor .result-item{border: 1px #999 solid;}