::-webkit-scrollbar-track-piece { background-color: #f8f8f8; }
::-webkit-scrollbar { width: 9px; height: 9px; }
::-webkit-scrollbar-thumb { background-color: #dddddd; background-clip: padding-box; min-height: 28px; border-radius: 6px; }
    ::-webkit-scrollbar-thumb:hover { background-color: #bbb; }

div.layui-layer-admin .layui-layer-content { padding: 0px; }

.layui-card-header ~ .layui-form { margin-top: 15px; }

.layui-form-item .layui-input-inline.auto { width: auto; }
.layui-form-item .layui-form-label.w180 { width: 180px; }
.layui-form-item .layui-input-upload[type=image] { min-width: 42px; min-height: 42px; max-width: 200px; max-height: 42px; border: 1px solid #ccc; border-radius: 6px; }
.layui-form-item [data-submit] ~ [data-period] { float: right; }

.right { float: right; }
.layui-table-view .layui-table[lay-skin=auto] .layui-table-cell { height: auto; }
.layui-table-view .layui-table tfoot tr { background-color: #dedede; }
    .layui-table-view .layui-table tfoot tr td { padding: 5px; border-color: transparent; text-align: center; border-top: 1px solid #ffd800; }

.layui-btn.layui-btn-block { width: 100%; }

.layui-table .icon { max-width: 42px; max-height: 42px; min-width: 32px; min-height: 32px; border: 1px solid #ccc; border-radius: 2px; }
.layui-table tbody tr th { width: 100px; text-align: right; background-color: #efefef; }

.layui-table-view .layui-table td[data-dragsort] drag { display: block; width: 100%; height: 100%; cursor: move; }
    .layui-table-view .layui-table td[data-dragsort] drag:before { display: inline-block; font: normal normal normal 1.6rem/1 "FontAwesome", sans-serif; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); content: "\f047"; }
.layui-table-view .layui-table tr.drag-over td { border-top: 2px solid #FF5722; }

.layui-text-green { color: #5FB878; }
.layui-text-red { color: #FF5722; }
.layui-text-warm { color: #FFB800; }
.layui-text-ft10 { font-size: 10px; -webkit-transform: scale(0.8); }
.layui-input[readonly] { background-color: rgba(33,33,33,.01); }
div.layui-input > label { line-height: 38px; }

.layui-userinfo { color: #1E9FFF; transition: all 0.25s; padding: 2px 5px; text-decoration: underline; }
    .layui-userinfo:hover { color: #fff; background-color: #1E9FFF; border-radius: 4px; text-decoration: none; }

fieldset ~ .layui-form-item { margin-top: 10px; }

.layui-card-header-badge.layuiadmin-badge { top: 0px; margin-top: 0px; }

.htmlFunction-currency { border: 1px solid #999; box-shadow: 1px 1px 2px rgb(0 0 0 / 50%); width: 18px; height: 12px; display: inline-block; margin: auto; background-size: cover; background-repeat: no-repeat; background-position: left center; }

/* 弹出框无边距 */
.layui-layer-dialog.padding0 .layui-layer-content { padding: 0px; }

/* 公共弹出页面 */
.layui-layer-admin.diag { border-radius: 8px; }
    /* background-color: rgb(3,155,229) !important;  */
    .layui-layer-admin.diag .layui-layer-title { border-radius: 8px 8px 0px 0px; }
    .layui-layer-admin.diag .diag-tab > .layui-tab-title { background-color: rgb(3,155,229) !important; border-bottom: none; height: 50px; }
        .layui-layer-admin.diag .diag-tab > .layui-tab-title li { line-height: normal; height: 50px; }
        .layui-layer-admin.diag .diag-tab > .layui-tab-title i { font-size: 25px; line-height: 32px; }
        .layui-layer-admin.diag .diag-tab > .layui-tab-title span { display: block; font-size: 12px; line-height: 16px; }
    .layui-layer-admin.diag .layui-tab-brief > .layui-tab-title .layui-this { color: rgb(3,155,229); background-color: #fff; border-radius: 12px 12px 0px 0px; }
        .layui-layer-admin.diag .layui-tab-brief > .layui-tab-title .layui-this::after { display: none; }
    .layui-layer-admin.diag .diag-tab > .layui-tab-content { overflow: auto; padding: 0px; position: absolute; left: 0px; top: 50px; bottom: 0px; right: 0px; }
        .layui-layer-admin.diag .diag-tab > .layui-tab-content::after { content: " "; display: block; visibility: hidden; height: 64px; }
.layui-layer-page.layui-layer-admin.diag .layui-layer-content { overflow: hidden; }
.layui-layer-page.layui-layer-admin.diag .toolbar { padding: 0px 0px; }
.layui-layer-admin.diag.diag .diag-toolbar a { border-radius: 12px 12px 0px 0px; transition: all .5s; text-align: center; display: inline-block; width: 64px; font-size: 12px; color: #fff; white-space: nowrap; padding: 0px 13px; }
    .layui-layer-admin.diag.diag .diag-toolbar a::before { font-size: 26px; display: block; padding-top: 2px; }
    .layui-layer-admin.diag.diag .diag-toolbar a.layui-this { background-color: #fff; }
.layui-layer-admin.diag.diag .diag-content { overflow: auto; }

/* 商户资料 */
.layui-layer-admin.diag.site .layui-layer-title,
.layui-layer-admin.diag.site .diag-toolbar { background-color: rgb(3,155,229); }
    .layui-layer-admin.diag.site .diag-toolbar a.layui-this { color: rgb(3,155,229); }


/* 投注类型选择 */
select.betinfo-itemtype { height: 22px; border: 1px solid #ccc; border-radius: 2px; text-shadow: 0px 0px 1px #ccc; width: 50px; }

.layui-form .select { display: block; width: 100%; height: 40px; padding: 0px 5px; border: 1px solid #ddd; border-radius: 2px; }
.layui-form-sm .select { height: 30px; padding: 0px; }

/* 表格上的等待效果*/
.layui-table tr.loading td { position: relative; }
    .layui-table tr.loading td::after { z-index: 1; content: " "; background: rgba(0,0,0,.3) url(images/loading.gif) no-repeat center center; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px; }

/* 按钮上的关闭按钮　*/
.layui-btn[close] { position: relative; }
    .layui-btn[close] .am-icon-times { position: absolute; width: 16px; height: 16px; right: 0px; top: 0px; line-height: 16px; transform: translate(50%,-50%); background-color: #FF5722; border-radius: 50%; }

/*权限显示*/
.permission[lay-permission] { display: none; }
