/* 进入商户资料的商户名字的链接 */
a.merchant-sitename:not(:empty) { border-radius: 4px; padding: 1px 2px; }
a.merchant-sitename merchant-sitename:empty { display: none; }
a.merchant-sitename { color: #0094ff; }
    a.merchant-sitename:hover { color: #fff; background-color: #0094ff; }

/* 商户资料弹出框 */
.diag.merchant-sitename { }
.layui-layer-admin.diag.merchant-site .layui-layer-title { background-color: #2F4056 !important; }
.layui-layer-admin.diag.merchant-site .layui-tab-brief > .layui-tab-title .layui-this { color: #2F4056; }

/* 用户名链接 */
a.merchant-username:not(:empty) { border-radius: 4px; padding: 2px 4px; }
a.merchant-username { color: #01AAED; }
    a.merchant-username:hover { color: #fff; background-color: #1E9FFF; }

/* 订单链接 */
a.market-order-link { color: #01AAED; }
    a.market-order-link:hover { color: #fff; background-color: #1E9FFF; }


.merchant-user .layui-layer-title { border-radius: 8px 8px 0px 0px;background-color: rgb(3,155,229) !important; } 
.merchant-user .layui-tab-title{background-color: rgb(3,155,229) !important}